a { text-decoration:none; color:#444; border-bottom: 1px solid #444; }

body, input, textarea { 
	font: 15px/1.4 Georgia, 'Times New Roman', Times, serif;
	color: #444;
}

#notice {
	text-align: center;
	margin:24px 0;
	color:#2990FF;
}

#header {
	margin-bottom:50px;
}

#content {
	width:600px; 
	margin:0 auto;
}

#footer {
	width:600px; 
	margin:128px auto 48px auto;
}

.post { margin-bottom: 4em; }
div#posts .post .author-date-line { margin-bottom:1.5em; }

.edit-buttons {
	margin-top: 1em;
}

/* Sign in form */
#signin-form { width:50%; }


/*Disqus*/

a.dsq-subscribe-email em, a.dsq-subscribe-rss em {
	text-decoration: none !important;
	font-style: normal;
}

a.dsq-collapse-toggle, .dsq-avatar a { 
	border:none;
}